// #### HEADER ####
include mobile-menu.pug

mixin header(invert)
  header.app-bar.header#header
    .container
      .header-content
        nav.nav-logo(class=invert && "invert")
          |
          |
          button#mobile_menu.mobile-menu.btn-icon.waves-effect.hamburger.hamburger--spin.show-sm-down(
            type="button"
          )
            |
            |
            span.hamburger-box
              span.bar.hamburger-inner
            |
            |
          .logo(class= !invert && "scrollnav")
            |
            |
            a(href=invert ? link.medical.home : "#home")
              img(
                src=assets + brand.medical.img
                alt="logo"
              )/ #{brand.medical.name}
            |
            |
        nav.nav-menu(class=invert && "invert")
          .scrollactive-nav.show-md-up(class= !invert && "scrollnav")
            ul
              each item in menu.medical
                |
                |
                li
                  a.btn.btn-flat.anchor-link.waves-effect(
                    href=invert ? 'index.html#'+item.name : '#'+item.name
                  ) #{$t.medical_landing['header_'+item.name]}
              |
              |
              li
                a.btn.btn-flat.anchor-link.waves-effect(
                  href=link.medical.contact
                ) #{$t.medical_landing.header_contact}
              |
              |
          include ./settings
          +settings(invert)
  |
  |
// #### END HEADER ####